# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
./dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.vagrant

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Bower
worldcup/static/.webassets-cache
worldcup/vendor/animate.css/*
worldcup/vendor/animate.css/!animate.css
worldcup/vendor/ember-data/*
worldcup/vendor/ember-data/!ember-data.js
worldcup/vendor/ember/*
worldcup/vendor/ember/!ember.js
worldcup/vendor/handlebars/*
worldcup/vendor/handlebars/!handlebars.runtime.js
worldcup/vendor/jquery/*
worldcup/vendor/jquery/dist/!jquery.js

# Heroku
.env
