<div class="a-layout--vertical fill-up">

  <div class="a-layout__panel is-fixed a-toolbar">
    <div class="a-toolbar__group">

      {{#link-to "index" classNames="a-toolbar__group__item--clickable loose br"}}
        <div class="icon-home mr--slim"></div>
        <div>Home</div>
      {{/link-to}}

      {{#link-to "highscore" classNames="a-toolbar__group__item--clickable loose highscore-header br"}}
        <div class="icon-trophy highscore-icon mr--slim"></div>
        <div>High score</div>
      {{/link-to}}

      {{#link-to "consensus" classNames="a-toolbar__group__item--clickable loose br"}}
        <div class="icon-flow-tree mr--slim"></div>
        <div>Consensus</div>
      {{/link-to}}

      {{#link-to "profiles" classNames="a-toolbar__group__item--clickable loose br"}}
        <div class="icon-users mr--slim"></div>
        <div>Prophets</div>
      {{/link-to}}

      {{#link-to "teams" classNames="a-toolbar__group__item--clickable loose br"}}
        <div class="icon-globe mr--slim"></div>
        <div>Teams</div>
      {{/link-to}}

      {{#link-to "rules" classNames="a-toolbar__group__item--clickable loose br"}}
        <div class="icon-graduation-cap mr--slim"></div>
        <div>Rules</div>
      {{/link-to}}

    </div>

    <div class="a-toolbar__group bl">
      {{#link-to "profile" model classNames="user-panel a-toolbar__group__item loose br"}}
        {{#if name}}
          {{name}}
        {{else}}
          unknown
        {{/if}}
      {{/link-to}}

      <a href="/logout" class="a-toolbar__group__item--clickable loose">
        <div class="icon-logout mr--slim"></div>
        <div>Logout</div>
      </a>
    </div>
  </div>
  
  <div class="a-layout__wrapper a-layout__panel--full fill-up">
    {{outlet}}
  </div>

</div>
