<div class="a-layout--vertical">
  <div class="a-layout__panel--half a-bar--space-around bb">
    {{#link-to "index" classNames="a-button"}}
      <div class="a-button__icon a-icon">&#8962;</div>
      <div class="a-button__body">Home</div>  
    {{/link-to}}
    <div class="stage-header">Group Stage</div>
    {{#if readyToMoveOn}}
      <div {{action "goToPlayoffs"}} class="a-button">
        <div class="a-button__icon a-icon">&#127942;</div>
        <div class="a-button__body">To playoffs</div>
      </div>
    {{else}}
      <div class="small">Place your bets</div>
    {{/if}}
  </div>

  <div class="a-layout__panel--double a-layout__wrapper bb--listed">
    <div class="a-layout--vertical">

      {{#each part in groupParts}}
        <div class="a-layout__panel--full a-layout__wrapper bb--listed">
          <div class="a-layout">
            {{#each group in part}}
              {{a-group model=group}}
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
