<div class="a-layout--vertical">
  <div class="a-layout__panel--half a-bar--space-around bb">
    <div class="stage-header">Group Stage</div>
    
    <div class="link-next center__wrapper">
      {{#if readyToMoveOn}}
        <div {{action "goToPlayoffs"}} class="a-button">
          <div class="a-button__icon a-icon">&#127942;</div>
          <div class="a-button__body">To playoffs</div>
        </div>
      {{else}}
        <div class="small">Place your bets</div>
      {{/if}}
    </div>
  </div>

  <div class="a-layout__panel--double a-layout__wrapper">
    <div class="a-layout--vertical">

      {{#each part in groupParts}}
        <div class="a-layout__wrapper a-layout__panel--full bb--listed">
          <div class="a-layout">
            {{#each group in part}}
              {{a-group title=group.group_id
                        teams=group.teams
                        winners=user.groupWinners
                        runnerUps=user.groupRunnerUps
                        classNames="a-layout__panel--full a-layout__wrapper br--listed"}}
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
