<div class="a-layout__wrapper fill-up">

  <div class="a-layout--vertical">
    <div class="a-layout__panel--double a-bar--space-around bb">
      <div class="index-box">
        <h2 class="text-center big-font">Bets are up!</h2>
        <p>Step - away - from the keyboard. The World Cup is <a href="https://www.youtube.com/watch?v=VGEfNcvntno">officially under way</a> and you can now track all the player's progress in the {{#link-to "highscore"}}High Score List{{/link-to}}.</p>

        <p>SciLifeLab has also concluded it's hottest candidates for the top three spots:</p>

        <ol>
          <li>
            {{#link-to "team" "537736c3f747f10de13b0d55"}}Brazil{{/link-to}}
          </li>
          <li>
            {{#link-to "team" "537736c6f747f10de13b0d70"}}Germany{{/link-to}}
          </li>
          <li>
            <i>and</i> {{#link-to "team" "537736c6f747f10de13b0d70"}}Germany{{/link-to}}
          </li>
        </ol>

        <p><small>I guess "we" <i>really</i> believe Germany is going to be up there.</small></p>

        <p>Finally, we also want to send a <strong>BIG thanks</strong> to the <span class="big-font">{{stat.completeCount}}</span> people that decided to participate even after the decidedly rocky start.</p>

        <p class="text-center"><strong>Good Luck!</strong></p>
      </div>
    </div>

    <div class="a-layout__panel--full center__wrapper">
      <div class="progress-wrapper">
        <p>We reached 100 users with complete predictions - Woho!</p>
        <div class="a-progress">
          <div style="width: 100%" {{bind-attr class="stat.isComplete:a-progress__bar--complete:a-progress__bar"}}>
            <div class="icon-users"></div>
            <div>#{{stat.completeCount}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="credits-panel is-fixed">
      <p class="text-center">Brought to you with optimism by Måns Magnusson & <a href="http://www.robinandeer.com">Robin Andeer</a>.</p>
    </div>
  </div>

</div>
