<div class="a-layout__wrapper a-bar--space-around fill-up">
  <div>
    <p>Get down and dirty</p>

    {{#link-to "groups" classNames="a-button"}}
      <div class="a-button__icon icon-chart-line"></div>
      <div class="a-button__body regular">Start speculating</div>
    {{/link-to}}
  </div>

  <div><i>or</i></div>

  <form {{action "peekFriend" on="submit"}} class="form-inline">
    <p>Peek at a friend</p>
    {{input id="user-email"
          type="email"
          valueBinding="friendEmail"
          placeholder="Friend's email"
          classNames="a-form__input"
          required=""}}
  </form>
</div>
