<div class="a-layout__wrapper center__wrapper fill-up">
  {{#link-to "groups" classNames="a-button"}}
    <div class="a-button__icon a-icon">&#128200;</div>
    <div class="a-button__body regular">Start speculating</div>
  {{/link-to}}
</div>
