<div class="a-layout--vertical">
  <div class="a-layout__panel--half a-bar--space-around bb">
    <div class="a-button">Home</div>
    <div class="stage-header">{{name}}</div>
    {{#link-to "playoffs" 8 classNames="a-button"}}
      <div class="a-button__icon a-icon">&#9873;</div>
      <div class="a-button__body">Quarter Finals</div>
    {{/link-to}}
  </div>

  <div class="a-layout__panel--double a-layout__wrapper bb--listed">
    <div class="a-layout--vertical">
      {{#each part in matchupParts}}
        <div class="a-layout__panel--full a-layout__wrapper bb--listed">
          <div class="a-layout">
            {{#each match in part}}
              <div class="a-layout__panel--full center__wrapper br--listed">
                <div class="a-button__group">
                  {{#each team in match}}
                    <div class="a-button">
                      <div class="a-button__body">{{team}}</div>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
