<div class="a-layout center__wrapper">
  <div class="big-font loose text-center">
    Click a name above or type in any given email address in the url like so: <br>
    <code class="small">worldcup.scilifelab.se/#/profiles/anders.andersson@scilifelab.se</code>
  </div>
</div>