<div class="a-layout__panel--full fill-up is-scrollable">

  <div class="text-box">
    <h2 class="text-center">Official Rules</h2>
    <p>These are the official rules for the SciLifeLab World Cup Predictor 2014.</p>

    <h3>Awarded points</h3>
    <ul>
      <li><p>1 point is awarded for each team correctly predicted to advance from the group stage.</p></li>

      <li><p>2 points per correctly predicted quarterfinalist.</p></li>

      <li><p>4 points per correctly predicted semifinalist.</p></li>

      <li><p>4 points for a correctly predicted third place finisher.</p></li>

      <li><p>4 points for each correctly predicted finalist.</p></li>

      <li><p>+2 points for a correctly predicted overall winner.</p></li>
    </ul>

    <h3>Prediction process</h3>
    <p>You can make your predictions anytime until the start of the first match in the group stage. It's OK to alter your choices by restarting from the group stage. After first official game, you will not be able to change your predictions anymore.</p>

    <h3>Prizes</h3>
    <p>The winner is the prophet with the highest sum of points from the predictions. He/She will win a gift voucher at a resturant, enough for a dinner for two and the coveted title as SciLifeLab's <strong>Chief World Cup Prophet 2014</strong>.</p>

    <p>Silver and bronze medalist will also be awarded.</p>

  </div>

</div>
